<% content_for :title, "EmailBolt" %>
<div class="row">
<br />
<h3>Users</h3>
<div class="row">
<%# temp = @users.where(["created_at < ?", Time.now]) %>
<%# temp = @users.find(:all, :conditions => ["created_at > ?", 1.month.ago]) %>
<%#= temp.length %>
<!-- <canvas id="results" width="500px" height="150px"></canvas> -->
</div>
<table border="0" bordercolor="white" style="background-color:white" width="100%" cellpadding="5" cellspacing="3">
  <tr>
    <th>Image</th>
    <th>User ID</th>
    <th>Name</th>
    <th>Joined</th>
    <th>Bolts</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag (user.image), :style => "max-width:200px;height:auto;" %></td>
    <td><%= user.id %></td>
    <td><%= link_to user.name, "/" + user.nickname %></td>
    <td><%= user.created_at.strftime("%B") %></td>
    <td><%= user.bolts.length %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
</table>

</div>
<%#= @current_month = Date.today.strftime("%B") %>  

<%#= @date.strftime("%B")%>
<style>
    canvas
        {
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
        }
</style>

<script>
var buyerData = {
	labels : [<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>],
	datasets : [
		/*{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			data : [65,59,90,81,56,55,40]
		},*/
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			data : [28,48,40,19,96,27,100]
		}
	]
}

var results = document.getElementById('results').getContext('2d');
new Chart(results).Bar(buyerData);
</script>