<% content_for :title, "EmailBolt" %>
<div class="row">
<h3>Users</h3>
<div class="row">
<%# temp = @users.where(["created_at < ?", Time.now]) %>
<%# temp = @users.find(:all, :conditions => ["created_at > ?", 1.month.ago]) %>
<%#= temp.length %>
<!-- <canvas id="results" width="500px" height="150px"></canvas> -->
</div>
<ul class="users">
  <% @users.each do |user| %>
    <li class="panel" style="list-style-type:none;">
    	<%= image_tag (user.image) %>
      	<%= user.id %>:
      	<%= link_to user.name, "/" + user.nickname %> signed up in <%= user.created_at.strftime("%B") %>
      	<%#= link_to user.destroy %>
    </li>
  <% end %>
</ul>
</div>
<%#= @current_month = Date.today.strftime("%B") %>  

<%#= @date.strftime("%B")%>
<style>
    canvas
        {
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
        }
</style>

<script>
var buyerData = {
	labels : [<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>,<%= Time.now.month %>],
	datasets : [
		/*{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			data : [65,59,90,81,56,55,40]
		},*/
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			data : [28,48,40,19,96,27,100]
		}
	]
}

var results = document.getElementById('results').getContext('2d');
new Chart(results).Bar(buyerData);
</script>