<%#  if @user.nickname == "AdamCragg" %>
<%#  @user.add_role :admin %>
<%#  end %>
<br />
<% content_for :title, "EmailBolt" %>
<div class="row">
  <!-- Side Bar -->
 
        <div class="large-4 small-12 medium-4 columns">
          <div class="large-6 medium-6 small-6">
          <%= image_tag(@user.image, :class => "hide-for-small") %><br />
          </div>
          <div class="panel">
            <h3><%= @user.name %></h3>
            <p></p>
            <h5 class="subheader"><p>Handle: <%= @user.nickname %></p>
            <p>Email: <%= link_to @user.email  , @user.nickname + '/edit'   %></p>
        <a href="/bolts/new" class="button small-12 medium-12 large-12 [secondary success alert]">Add custom bolt</a>
        <a href="/instant" style="color:white;" class="small-12 medium-12 large-12 button">Add instant bolt</a>
            </h5>
          </div>
        </div>
 
    <!-- End Side Bar -->
 
 
    <div class="large-8 small-12 medium-8 columns">
    <%= render ("layouts/messages") %>
    
    <%= render ('shared/boltfeed') %>
 
    </div>
    

    </div>

      
<%= render ('shared/footer') %>
 
