<% content_for :title, "EmailBolt" %>
<div class="row large-12"><p></p></div>
<div class="row">
 <%#= debug(@user.bolts) %>
 <%#= get_routes %>
  <!-- Side Bar -->
 
        <div class="large-4 small-12 columns">
 
          <%= image_tag(@user.image, :class => "hide-for-small") %><br />
          <div class="panel">
            <h3><%= @user.name %></h3>
            <p></p>
            <h5 class="subheader"><p>Handle: <%= @user.nickname %></p>
            <p>Email: <%= @user.email if @user.email %></p>
				<%#= create_route(1, "Test email", "adam.cragg@sandbox2609.mailgun.org", "adam.cragg@gmail.com") %>
				<%#= temp = get_routes %>
        <a href="/bolts/new" class="button [secondary success alert]">Add bolt</a>
            </h5>
          </div>
 
          <!-- <a href="#">
          <div class="panel callout radius">
            <h6>99  items in your cart</h6>
          </div>
          </a> -->
 
        </div>
 
    <!-- End Side Bar -->
 
 
    <div class="large-8 small-12 columns">
    
    <%#= destroy_route(@user.bolts.first.routeid.to_s) %>

    <%= render ('shared/boltfeed') %>
 
          </div>
        </div>
      </div>
 
 <%= render ('shared/footer') %>
 
    </div>
  </div>
 
