<% content_for :title, "EmailBolt" %>
<div class="row">
 
  <!-- Side Bar -->
 
        <div class="large-4 small-12 columns">
 
          <%= image_tag(@user.image) %>
 
          <div class="hide-for-small panel">
            <h3><%= @user.name %></h3>
            <p></p>
            <h5 class="subheader"><p>Handle: <%= @user.nickname %></p>
<p>Email: <%= @user.email if @user.email %></p>
				<%#= create_route(1, "Test email", "adam.cragg@sandbox2609.mailgun.org", "adam.cragg@gmail.com") %>
				<%#= temp = get_routes %>
            </h5>
          </div>
 
          <!-- <a href="#">
          <div class="panel callout radius">
            <h6>99  items in your cart</h6>
          </div>
          </a> -->
 
        </div>
 
    <!-- End Side Bar -->
 
 
    <!-- Thumbnails -->
 
        <div class="large-8 columns">
          <div class="row">
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
          </div>
 
    <!-- End Thumbnails -->
 
 
    
 
          </div>
        </div>
      </div>
 
 <%= render ('shared/footer') %>
 
    </div>
  </div>
 
