<% content_for :title, "EmailBolt" %>

<!-- Header -->
  <div class="row">
    <div class="large-12 columns">
      <%= image_tag('padlocklarge1600600.jpg') %><br><br>
    </div>
  </div>

<!-- End Header -->


  <div class="row">

    <div class="large-4 medium-4 small-12 columns">
    <div class="panel">
    <%= image_tag ('identity256.png'), :style => 'display: block; margin-left: auto; margin-right: auto; max-height:200px;' %>
    <h4>Private</h4>
    <p>Your online identity is being mapped by the good, the bad, and the ugly. Use our tool to see what others know about you from your email.</p>
    </div>
    </div>

    <div class="large-4 medium-4 small-6 columns">
    <div class="panel">
    <%= image_tag ('fast512.png'), :style => 'display: block; margin-left: auto; margin-right: auto; max-height:200px;' %>
    <h4>Fast</h4>
    <p >In a couple of seconds create a private email alias that you can use for a specific group or even a private email for each contact.</p>
    </div>
    </div>
    
    <div class="large-4 medium-4 small-6 columns">
    <div class="panel">
    <%= image_tag ('trash256.png'), :style => 'display: block; margin-left: auto; margin-right: auto; max-height:200px;' %>
    <h4>Disposable</h4>
    <p >If your email is ever compromised, just throw it away. With one click you can delete the alias keeping your personal email safe.</p>
    </div>
    </div>

  </div>

   <div class="row">
 
    <div class="large-6 medium-5 small-12 columns">
      <div class="panel">
        <h5>Check what your email is telling others!</h5>
        <p><%= render ('shared/emailcheck') %></p>
      </div>
    </div>
    <div class="large-2 medium-3 small-6 columns">
      <div class="panel">
        <p>
          <%= link_to image_tag("twittersquare256.png"), "http://www.twitter.com/EmailBolt" %>
        </p>
      </div>
    </div>
    <div class="large-4 medium-4 small-6 columns">
      <div class="panel">
        <h5>Coming soon</h5>
        <p>We're implementing a feature that will alert you when your email security is compromised.</p>
      </div>
    </div>
 
  </div>
    
<!-- 
    <div class="large-9 columns">
      <div class="panel">
        <div class="row">

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div>

          <div class="large-3 columns end">
            <img src="http://placehold.it/600x500&text=Thumbnail">
          </div> 
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <h5>Subheader</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button">Link</a>
          </div>
        </div>

        <div class="large-6 columns">
          <div class="panel">
            <h5>Subheader</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button">Link</a>
          </div>
        </div>
      </div>
    </div>-->

  

  <%= render ('shared/footer') %>