<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <script src="http://www.chartjs.org/assets/Chart.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= analytics_init if Rails.env.production? %>
    <%= display_meta_tags :site => 'EmailBolt' %>
  </head>
  <body>
  <% content_for :title, "EmailBolt" %>
  <%= render "layouts/navigation" %>
  <div class="row">
  <%= render "layouts/messages" %>
  </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= render ('shared/footer') %>

  </body>
</html>